@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
html {
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  font-family: lato, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

h1{
  font-family: Russo One;
  color: black;
  font-size: 60px;
  margin-bottom: 20px;}


.white{
  color: white;
}
h1.white{
color: white;
font-size: 60px}



ul {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 535px;
  background-color: #343e48;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=");
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

li {
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  padding: 0;
}

a {
  display: block;
  padding: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  color: #686f77;
  letter-spacing: .2em;
  text-decoration: none;
  transition: color 200ms;
  transform-style: preserve-3d;
}
a:hover {
  color: #343e48;
}
a:after {
  content: attr(data-title);
  position: absolute;
  display: block;
  text-shadow: none;
  top: 29%;
  left: 10px;
  padding: 16px 43%;
  color: transparent;
  background: #4795c3;
  transform-origin: 50% 0%;
  backface-visibility: hidden;
  transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
  transform-style: preserve-3d;
  transition: all 200ms ease;
  z-index: -1;
}
li:nth-child(2) a:after {
  background: #ecc64b;
}
li:nth-child(3) a:after {
  background: #0b9ea6;
}
li:nth-child(4) a:after {
  background: #f26667;
}
a:hover:after {
  transform: rotateX(0deg) translateZ(0px);
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  margin: 10px
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 3.25rem;
  background-color: #505ABA;
  color: white;}

.card{
  margin: 60px;
}



.work-home{
  margin: 70px 120px;
}

.welcome{
  background-color: #505ABA;
  padding: 55px 0px;
}

.work{
  background-color: #505ABA;
  padding: 55px 0px;
  margin-top: 20px;
}

p.bold{
  color: white;
}

.margin-text{
  margin: 0px 120px;
}


ul {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 535px;
  font-size: 22px;
  position: relative;
  box-shadow: none;
}
ul:after {
  background-image: none;
}
a {
  text-transform: none;
  z-index: 2;
  text-shadow: none;
  letter-spacing: 0em;
}



.heroabout{
  display: flex;
  align-items: center;
}

.presentation{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
